
// Quad
$ease-in-quad: cubic-bezier(.550, .085, .680, .530);
$ease-out-quad: cubic-bezier(.250, .460, .450, .940);
$ease-in-out-quad: cubic-bezier(.455, .030, .515, .955);

// Colors
$text-color: #fff;
$text-color-dark: #808080;
$bg-color: #000;

html {
  font-family: "Helvetica Neue", helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

body {
  background: $bg-color url('../img/taylor-background.jpg') no-repeat center top;
}

header {
  padding-bottom: 36px;
  padding-top: 64px;

  h1 {
    color: $text-color;
    font-size: 96px;
    font-weight: 100;
    line-height: 80px;
    margin: 0 0 0 48px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
    text-transform: uppercase;
  }

  p {
    color: $text-color;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -.5px;
    line-height: 16px;
    margin: 0 0 0 48px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
  }

  nav {
    margin-left: 48px;
    margin-top: 48px;

    a {
      color: $text-color;
      font-size: 18px;
      font-weight: 200;
      letter-spacing: 1px;
      margin-right: 24px;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
      text-transform: uppercase;

      &:last-child {
        margin-right: 0;
      }

      &:after {
        background: url('../img/arrow-down.svg') no-repeat center top;
        background-size: 17px 9px;
        bottom: -9px;
        content: '';
        display: block;
        height: 9px;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        transition: all .35s ease-out;
      }

      &.is-active {
        position: relative;

        &:after {
          bottom: -16px;
          opacity: 1;
        }
      }
    }
  }
}

.tiles-wrap {
  list-style-type: none;
  margin: 0;
  padding: 0 0 64px;
  perspective: 800px;
  position: relative;

  &.wookmark-initialised {
    li {
      opacity: 1;
      transition: all .35s $ease-out-quad;
      transition-delay: .05s;
    }
  }

  li {
    background-color: $text-color;
    border-radius: 4px 4px 3px 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
    float: left;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    width: 208px;

    &:nth-child(2n) {
      transition-delay: .1s;
    }

    &:nth-child(3n) {
      transition-delay: .2s;
    }

    &:nth-child(5n) {
      transition-delay: .3s;
    }

    img {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      display: block;
    }

    h2 {
      color: $bg-color;
      font-size: 22px;
      font-weight: 100;
      line-height: 20px;
      margin: 16px 0 0;
      padding: 0 24px;
      text-transform: uppercase;
    }

    p {
      color: $text-color-dark;
      font-size: 14px;
      line-height: 20px;
      margin: 16px 0;
      padding: 0 24px;
    }

    h2 + p {
      margin-top: 4px;
    }

    &.style--quote {
      blockquote {
        background: linear-gradient(to bottom, rgba($bg-color, 0), rgba($bg-color, .25));
        bottom: 0;
        left: 0;
        margin: 0;
        position: absolute;
        right: 0;

        p {
          border-top: 1px solid rgba($text-color, .25);
          color: $text-color;
          font-size: 16px;
          font-style: italic;
          font-weight: bold;
          margin-bottom: 0;
          margin-left: 16px;
          margin-right: 16px;
          padding: 12px 0;
          text-shadow: 0 1px 0 rgba(0, 0, 0, .35);
          text-transform: uppercase;
        }
      }
    }

    &.style--tint {
      .angle {
        border-bottom: 30px solid transparent;
        border-right: 208px solid transparent;
        height: 0;
        margin-top: -30px;
        position: relative;
        width: 0;
      }

      h2 {
        color: $text-color;
        margin-top: 0;
      }

      p {
        color: $text-color;
      }
    }

    &.wookmark-inactive {
      opacity: 0;
      pointer-events: none;
      transform: translate3d(0, 0, -100px);
      transition-delay: .05s;
    }
  }
}
