.example-tiles {
  overflow: hidden;
}

header p {
  max-width: 600px;
  margin: 0 auto;
  line-height: 22px;
}

header p a,
header p a:visited {
  text-decoration: none;
  color: #4281f5;
}

.example-tiles li {
  height: 200px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: none;
}

.example-tiles a {
  font-weight: 200;
  text-align: left;
  color: #000000;
  font-size: 12px;
  line-height: 16px;
  height: auto;
  border: 0px;
  display: block;
  width: 200px;
  position: relative;
  height: 100%;
  display: block;
  text-transform: uppercase;
}

.example-tiles a:hover {
  color: #4281f5;
}

.example-tiles a span {
  position: absolute;
  bottom: 20px;
  left: 15px;
  right: 15px;
  display: block;
  color: #666666;
}

.example-tiles a b {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
