html {
  font-family: "Helvetica Neue", helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300; }

body {
  background: #000 url("../img/taylor-background.jpg") no-repeat center top; }

header {
  padding-bottom: 36px;
  padding-top: 64px; }
  header h1 {
    color: #fff;
    font-size: 96px;
    font-weight: 100;
    line-height: 80px;
    margin: 0 0 0 48px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    text-transform: uppercase; }
  header p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -.5px;
    line-height: 16px;
    margin: 0 0 0 48px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
  header nav {
    margin-left: 48px;
    margin-top: 48px; }
    header nav a {
      color: #fff;
      font-size: 18px;
      font-weight: 200;
      letter-spacing: 1px;
      margin-right: 24px;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
      text-transform: uppercase; }
      header nav a:last-child {
        margin-right: 0; }
      header nav a:after {
        background: url("../img/arrow-down.svg") no-repeat center top;
        background-size: 17px 9px;
        bottom: -9px;
        content: '';
        display: block;
        height: 9px;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        transition: all .35s ease-out; }
      header nav a.is-active {
        position: relative; }
        header nav a.is-active:after {
          bottom: -16px;
          opacity: 1; }

.tiles-wrap {
  list-style-type: none;
  margin: 0;
  padding: 0 0 64px;
  perspective: 800px;
  position: relative; }
  .tiles-wrap.wookmark-initialised li {
    opacity: 1;
    transition: all 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: .05s; }
  .tiles-wrap li {
    background-color: #fff;
    border-radius: 4px 4px 3px 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    float: left;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    width: 208px; }
    .tiles-wrap li:nth-child(2n) {
      transition-delay: .1s; }
    .tiles-wrap li:nth-child(3n) {
      transition-delay: .2s; }
    .tiles-wrap li:nth-child(5n) {
      transition-delay: .3s; }
    .tiles-wrap li img {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      display: block; }
    .tiles-wrap li h2 {
      color: #000;
      font-size: 22px;
      font-weight: 100;
      line-height: 20px;
      margin: 16px 0 0;
      padding: 0 24px;
      text-transform: uppercase; }
    .tiles-wrap li p {
      color: #808080;
      font-size: 14px;
      line-height: 20px;
      margin: 16px 0;
      padding: 0 24px; }
    .tiles-wrap li h2 + p {
      margin-top: 4px; }
    .tiles-wrap li.style--quote blockquote {
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.25));
      bottom: 0;
      left: 0;
      margin: 0;
      position: absolute;
      right: 0; }
      .tiles-wrap li.style--quote blockquote p {
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        color: #fff;
        font-size: 16px;
        font-style: italic;
        font-weight: bold;
        margin-bottom: 0;
        margin-left: 16px;
        margin-right: 16px;
        padding: 12px 0;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
        text-transform: uppercase; }
    .tiles-wrap li.style--tint .angle {
      border-bottom: 30px solid transparent;
      border-right: 208px solid transparent;
      height: 0;
      margin-top: -30px;
      position: relative;
      width: 0; }
    .tiles-wrap li.style--tint h2 {
      color: #fff;
      margin-top: 0; }
    .tiles-wrap li.style--tint p {
      color: #fff; }
    .tiles-wrap li.wookmark-inactive {
      opacity: 0;
      pointer-events: none;
      transform: translate3d(0, 0, -100px);
      transition-delay: .05s; }

/*# sourceMappingURL=main.css.map */
