html {
  font-family: "Helvetica Neue", helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300; }

body {
  background: #000000 url("../img/taylor-background.jpg") no-repeat center top; }

header {
  padding-top: 64px;
  padding-bottom: 36px; }
  header h1 {
    margin: 0 0 0 48px;
    font-weight: 100;
    font-size: 96px;
    line-height: 80px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
  header p {
    margin: 0 0 0 48px;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: -0.5px;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
  header nav {
    margin-top: 48px;
    margin-left: 48px; }
    header nav a {
      font-weight: 200;
      font-size: 18px;
      color: #ffffff;
      text-transform: uppercase;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
      text-decoration: none;
      margin-right: 24px;
      letter-spacing: 1px; }
      header nav a:last-child {
        margin-right: 0; }
      header nav a:after {
        position: absolute;
        display: block;
        content: '';
        background-image: url("../img/arrow-down.svg");
        background-size: 17px 9px;
        background-position: center top;
        background-repeat: no-repeat;
        bottom: -9px;
        left: 0;
        right: 0;
        height: 9px;
        opacity: 0;
        pointer-events: none;
        -webkit-transition: all 0.35s ease-out;
                transition: all 0.35s ease-out; }
      header nav a.is-active {
        position: relative; }
        header nav a.is-active:after {
          opacity: 1;
          bottom: -16px; }

#container {
  position: relative;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 64px 0;
  -webkit-perspective: 800px;
          perspective: 800px; }
  #container li {
    width: 208px;
    background-color: #ffffff;
    border-radius: 3px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    -webkit-transition: all 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: all 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
    #container li:nth-child(2n) {
      -webkit-transition-delay: 0.1s;
              transition-delay: 0.1s; }
    #container li:nth-child(3n) {
      -webkit-transition-delay: 0.2s;
              transition-delay: 0.2s; }
    #container li:nth-child(5n) {
      -webkit-transition-delay: 0.3s;
              transition-delay: 0.3s; }
    #container li img {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      display: block; }
    #container li h2 {
      margin: 16px 0 0 0;
      padding: 0 24px 0 24px;
      color: #000000;
      font-weight: 100;
      font-size: 22px;
      line-height: 20px;
      text-transform: uppercase; }
    #container li p {
      margin: 16px 0 16px 0;
      padding: 0 24px 0 24px;
      font-size: 14px;
      line-height: 20px;
      color: #808080; }
    #container li h2 + p {
      margin-top: 4px; }
    #container li.style--quote blockquote {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.25));
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.25)); }
      #container li.style--quote blockquote p {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 0;
        padding-top: 12px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 12px;
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        color: #ffffff;
        text-transform: uppercase;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35); }
    #container li.style--tint .angle {
      width: 0;
      height: 0;
      position: relative;
      margin-top: -30px;
      border-right-style: solid;
      border-right-width: 208px;
      border-right-color: transparent;
      border-bottom-style: solid;
      border-bottom-width: 30px; }
    #container li.style--tint h2 {
      margin-top: 0;
      color: #ffffff; }
    #container li.style--tint p {
      color: #ffffff; }
    #container li.wookmark-inactive {
      opacity: 0;
      pointer-events: none;
      -webkit-transform: translate3d(0, 0, -100px);
              transform: translate3d(0, 0, -100px);
      -webkit-transition-delay: 0.05s;
              transition-delay: 0.05s; }
